/*
this CSS stylesheet by (c) sosasees
is licensed under
Creative Commons Zero 1.0 Universal:
 - human-readable summary:
   https://creativecommons.org/publicdomain/zero/1.0/
 - actual License:
   https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt
*/

@media screen{
	:root {
		--color-background: #e3e3e3;
		--color-background: oklch(calc(11/12) 0 0);
		--color-background--on-card: #ffffff;
		--color-background--on-card: oklch(1 0 0);
		--color-foreground: #636363;
		--color-foreground: oklch(calc(5/12) 0 0);
		--color-link: #004037;
		--color-link: oklch(calc(4/12) calc(0.1/6*4) 180);
		--color-link--visited: #70374a;
		--color-link--visited: oklch(calc(5/12) calc(0.1/6*3) 0);
		--color-on-link: #ffffff;
		--color-on-link: oklch(1 0 0);
		--background-image: linear-gradient(
			#f8dbe2,
			#f9dcd7,
			#f5dfce,
			#ece3cb,
			#e0e7cf,
			#d5ead8,
			#cdebe4,
			#cbeaf0,
			#d0e7f8,
			#dbe3fb,
			#e6dff7,
			#f1dcee,
			#f8dbe2
		);
		--background-image: linear-gradient(
			oklch(calc(11/12) calc(0.1/6*2) 0),
			oklch(calc(11/12) calc(0.1/6*2) 30),
			oklch(calc(11/12) calc(0.1/6*2) 60),
			oklch(calc(11/12) calc(0.1/6*2) 90),
			oklch(calc(11/12) calc(0.1/6*2) 120),
			oklch(calc(11/12) calc(0.1/6*2) 150),
			oklch(calc(11/12) calc(0.1/6*2) 180),
			oklch(calc(11/12) calc(0.1/6*2) 210),
			oklch(calc(11/12) calc(0.1/6*2) 240),
			oklch(calc(11/12) calc(0.1/6*2) 270),
			oklch(calc(11/12) calc(0.1/6*2) 300),
			oklch(calc(11/12) calc(0.1/6*2) 330),
			oklch(calc(11/12) calc(0.1/6*2) 360)
		);
	}
}

@media print, screen and (prefers-contrast: more) {
	:root {
		--color-background: white;
		--color-background--on-card: var(--color-background);
		--color-foreground: black;
		--color-link: black;
		--color-link--visited: black;
		--color-on-link: var(--color-background);
		--background-image: #000000;
	}
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--color-background: #222222;
		--color-background: oklch(calc(3/12) 0 0);
		--color-background--on-card: #0f0f0f;
		--color-background--on-card: oklch(calc(2/12) 0 0);
		--color-foreground: #c8c8c8;
		--color-foreground: oklch(calc(10/12) 0 0);
		--color-link: #b3f3e5;
		--color-link: oklch(calc(11/12) calc(0.1/6*4) 180);
		--color-link--visited: #e5bbc7;
		--color-link--visited: oklch(calc(10/12) calc(0.1/6*3) 0);
		--color-on-link: var(--color-background);
		--background-image: linear-gradient(
			#2f1b21,
			#301b18,
			#2d1e11,
			#28210e,
			#1f2411,
			#162619,
			#0d2722,
			#0b262a,
			#122430,
			#1b2132,
			#241e2f,
			#2b1c29,
			#2f1b21
		);
		--background-image: linear-gradient(
			oklch(calc(3/12) calc(0.1/6*2) 0),
			oklch(calc(3/12) calc(0.1/6*2) 30),
			oklch(calc(3/12) calc(0.1/6*2) 60),
			oklch(calc(3/12) calc(0.1/6*2) 90),
			oklch(calc(3/12) calc(0.1/6*2) 120),
			oklch(calc(3/12) calc(0.1/6*2) 150),
			oklch(calc(3/12) calc(0.1/6*2) 180),
			oklch(calc(3/12) calc(0.1/6*2) 210),
			oklch(calc(3/12) calc(0.1/6*2) 240),
			oklch(calc(3/12) calc(0.1/6*2) 270),
			oklch(calc(3/12) calc(0.1/6*2) 300),
			oklch(calc(3/12) calc(0.1/6*2) 330),
			oklch(calc(3/12) calc(0.1/6*2) 360)
		);
	}
}

@media screen and (prefers-contrast: more) and (prefers-color-scheme: dark) {
	:root {
		--color-background: black;
		--color-background--on-card: var(--color-bakground);
		--color-foreground: white;
		--color-link: white;
		--color-link--visited: white;
		--color-on-link: var(--color-background);
		--background-image: #000000;
	}
}