/*
this CSS stylesheet by (c) sosasees
is licensed under
Creative Commons Zero 1.0 Universal:
 - human-readable summary:
   https://creativecommons.org/publicdomain/zero/1.0/
 - actual License:
   https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt
*/

@import 'colors.css';

:root {
	--icon__height: 24px;
	--icon__line-width: 2px;
	--card__border-radius: calc(var(--icon__height) * calc(2/3));
	--button__border-radius: calc(var(--card__border-radius) / 3*2);
}

@font-face {
	font-family: 'poppy-ribbon-desktop';
	src: url(
		'fonts/poppy-ribbon-desktop/poppy-ribbon-desktop.otf'
	);
	src: url(
		'fonts/poppy-ribbon-desktop/poppy-ribbon-desktop.woff'
	);
	src: url(
		'fonts/poppy-ribbon-desktop/poppy-ribbon-desktop.woff2'
	);
	src: url(
		'fonts/poppy-ribbon-desktop/poppy-ribbon-desktop.ttf'
	);
}

.viewport {
	margin: 6px;
	padding: 0px;
	background-color: var(--color-background);
	scrollbar-color: var(--color-foreground) var(--color-background);
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.page {
	max-width: calc(var(--icon__height)*24);
	margin: auto;
}

.text {
	color: var(--color-foreground);
	font-family: 'poppy-ribbon-desktop', sans-serif;
	font-size: var(--icon__height);
	font-weight: 400;
	line-height: var(--icon__height);
	margin: 0;
}

.text--link {
	color: var(--color-link);
}

.text--link:visited {
	color: var(--color-link--visited);
}

.text--header::before {
	content: var(--header-dingbat) ' ';
}

.text--header::after {
	content: ' ' var(--header-dingbat);
}

.text--header--0 {
	--header-dingbat: '';
}

.text--header--1 {
	--header-dingbat: '#';
}

.text--header--2 {
	--header-dingbat: '##';
}

.text--header--3 {
	--header-dingbat: '###';
}

.card {
	background-color: var(--color-background--on-card);
	border-color: var(--color-foreground);
	border-style: solid;
	border-width: var(--icon__line-width);
	border-radius: var(--card__border-radius);
	margin-top: calc(var(--icon__line-width) * 3);
	margin-bottom: calc(var(--icon__line-width) * 3);
	padding: calc(var(--icon__line-width) * 3);
}

.button {
	display: inline-block;
	background-color: var(--color-link);
	color: var(--color-on-link);
	padding: calc(var(--icon__line-width) * 3);
	border-radius: var(--button__border-radius);
}

.button:visited {
	background-color: var(--color-link--visited);
}

@media (forced-colors: active) {
	.button {
		border-style: solid;
		border-width: var(--icon__line-width);
		border-color: AccentColorText;
	}
}

.button--icon-after::after {
	content: ' ' var(--icon);
}

.button--ic-arrow-right {
	--icon: '->';
}

.divider {
	border-style: solid;
	color: var(--color-foreground);
	border-width: calc(var(--icon__line-width) / 2);
}
